<?xml version='1.0' encoding='utf-8'?>
<widget id="org.jliszka.nutrition" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NPO</name>
    <description>
        TPN / Tube feed calculator
    </description>
    <author email="jliszka@gmail.com" href="http://jliszka.github.io">
        Jason Liszka
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
</widget>
